#main_AffMsg {
    width: 50%;
    background-color: aliceblue;
}

#affichage {
    height: 65%;
    border: solid rgb(87, 115, 176) 2px;
    overflow: hidden;
}

#affichage:hover {
    overflow-y: auto;
}

#affichage::-webkit-scrollbar {
    display: none;
}

#bulle {
    width: auto;
    height: 4.5vh;
    margin-left: 1vh;
    background-color: rgb(211, 214, 226);
    -webkit-border-radius: 80px / 80px;
    -moz-border-radius: 80px / 80px;
    border-radius: 80px / 80px;
}

#bulle p{
    margin-left: 2vw;
    margin-right: 3vw;
}

#envoi {
    height: 35%;
    border: solid rgb(87, 115, 176) 2px;
}
