#main_AffMsg {
    width: 50%;
    background-color: #F5F6FF;
}

#affichage {
    height: 65%;
    overflow: hidden;
}

#affichage:hover {
    overflow-y: auto;
}

#affichage::-webkit-scrollbar {
    display: none;
}

#affListMsg {
    display: flex;
}

.msgFrame {
    width: 100%;
    height: auto;
    display: flex;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 0.3vh;
}

#myMsgFrame {
    flex-direction: row-reverse;
}

#correspondentMsgFrame {
    flex-direction: row;
}

.bubble {
    -webkit-border-radius: 80px / 80px;
    -moz-border-radius: 80px / 80px;
    border-radius: 80px / 80px;
    width: auto;
    min-width: 9vh;
    max-width: 30vw;
    margin: 0%;
    padding: 0%;
}

.bubble p {
    margin-left: 2vw;
    margin-right: 2vw;
}

#myBubbleMessage {
    background-color: #326DDD;
    color: white;
}

#correspondentBubbleMessage {
    background-color: white;
}


#send {
    /* display: flex; */
    /* flex-direction: column; */
    height: 35%;
    border: solid rgb(87, 115, 176) 2px;
}
