#main {
    height: 40vh;
    width: 60vh;
    background-color: #fbf8f4;
    margin: auto;
    display: flex;
    flex-direction: column;
    -webkit-border-radius: 40px / 40px;
    -moz-border-radius: 40px / 40px;
    border-radius: 40px / 40px;
}

#main2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 6%;
    margin-bottom: 6%;
    margin-left: 6%;
    margin-right: 6%;
    padding-left: 4%;
    padding-right: 4%;
    padding: 4%;
}

#main2 #title {
    margin: 0;
    font-size: 3vh;
    color: white;
    text-align: center;
    background-color: #1F56BD;
    -webkit-border-radius: 40px / 40px;
    -moz-border-radius: 40px / 40px;
    border-radius: 40px / 40px;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
}

#inputAndButton {
    text-align: center;
    height: 20%;
    margin-top: 10%;
}

#main2 input {
    -webkit-border-radius: 40px / 40px;
    -moz-border-radius: 40px / 40px;
    border-radius: 40px / 40px;
    border: 1px solid #E7E9E8;
    background-color: white;
    color: black;
    width: 45%;
    height: 100%;
    padding-left: 1vw;
}

#main2 button {
    position: relative;
    -webkit-border-radius: 40px / 40px;
    -moz-border-radius: 40px / 40px;
    border-radius: 40px / 40px;
    width: 20%;
    height: 100%;
    margin-left: 3%;
    border: none;
    background-color: #1F56BD;
    color: white;
    cursor:pointer;
    user-select:none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
}
  
#main2 button:hover {
    background-color: white;
    border: #1F56BD solid 1px;
    cursor: pointer;
    color: #1F56BD;
}
  
#main2 button:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
}

#main2 button:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
}

#main2 button:active {
    top: 1px;
}

#errorMsg {
    color: red;
    margin-top: 2%;
    text-align: center;
}